<!-- <ckeditor 
  *ngIf="Editor"
  [editor]="Editor" 
  [data]="value" 
  (ready)="onReady($event)"  
  (change)="onChange($event)"
  (blur)="onBlur($event)"
  (focus)="onFocus($event)"
  [config]="config"
  ></ckeditor> -->

<ngb-timepicker [(ngModel)]="innerValue"></ngb-timepicker>